
@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.site-page-header{
  height: 70px;
  background-color: #e6f7ff;
}

.ant-page-header-heading-title{
  font-size: 32px;
}

.ant-page-header-heading-sub-title{
  margin-top: 10px;
  font-size: 16px;
}

.main-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: calc(100vh - 70px);
}

.ant-menu{
  height: 100%;
}
.ant-menu-horizontal{
  display: flex;
  justify-content: space-between;
}

.csdn{
  width: calc(100% - 300px);
}

.csdn-menu{
  height: 50px;
  width: 100%;
}

.csdn-menu-item{
  width: calc(80% / 4);
  text-align: center;
}

.site-card-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.line-chart{
  margin-top: 50px;
}

.codimd{
  padding: 50px 200px 50px 200px;
  width: calc(100% - 300px);
}

.select-box{
  width: 80%;
}

.codimd-menu{
  margin-top: 30px;
  height: 50px;
  width: 100%;
}

.codimd-menu-item{
  width: calc(80% / 3);
  text-align: center;
}

.codimd-steps{
	margin-bottom: 50px;
}

.codimd-btn{
	height: 64px;
}



.csdn{
	padding: 50px 100px 50px 100px;
	width: calc(100% - 300px);
}

.ant-input-group-addon{
	width: 50px;
}

.ant-select-selection-item{
	width: 150px;
}

.ant-select{
	width: 50px;
}

.icon-img{
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
}